@font-face {
	font-family: manrope;
	src: url("manrope-thin.otf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: manrope, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	overflow-x: hidden;
	scroll-behavior: smooth;
	font-feature-settings: "kern", "liga";
}

header ul,header li{
	display: inline-block;
}

a {
	text-decoration: none;
	color: inherit;
}

header img {
	width: 50px;
	vertical-align: top;
}

header ul {
	float: right;
}

li {
	list-style: none;
	margin: 5px;
	padding: 5px;
	font-size: 1.25em;
}

header {
	padding: 1em;
}

.leftButton, .rightButton {
	background: none;
	border: none;
	color: white;
	font-size: 50px;
	cursor: pointer;
	outline: none;
}

.leftButton {
	float: left;
}

.rightButton {
	float: right;
}

.mainContent button {
	height: 100vh;
	width: 5%;
	margin-top: -93px;
}

.wrapper {
	width: 60%;
	margin: 0 auto;
}

.mainContent {
	background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(img/header/pizza1.jpg) no-repeat center /cover;
	background-attachment: fixed;
	height: 100vh;
	color: white;
	overflow: visible;
}

.content {
	padding-top: calc(50vh - 93px - 101px / 2);
	text-align: center;
	overflow: auto;
}

.content h1 {
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: -5px;
	font-size: 5em;
}

.arrow {
	width: 40px;
}

.mainContent h1 {
	margin-bottom: calc(50vh - 102px/2 - 26.69px - 50px);
}

#title {
	margin-top: 50px;
	margin-bottom: 30px;
	border-color: black;
	border-width: 0 0 1px 0;
	border-style: solid;
}

#aboutUs {
	margin-top: 75px;
	margin-bottom: 100px;
	padding: 5px 20px;
}

#aboutUs p {
	font-size: 1.5em;
	margin: 50px 0;
	line-height: 1.5;
}

.images {
	float: left;
	width: 30%;
}

.images img {
	width: 100%;
}

.menu {
	float: right;
	width: 70%;
	margin-right: -50px;
}

.price {
	float: right;
	margin-right: 50px;
}

.item:first-child {
	margin-top: 0;
}

.item {
	margin-top: 30px;
}

.clearfix {
	overflow: auto;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.default {
	color: #333 !important;
	background-color: #f3f3f3 !important;
}

footer p {
	color: #f9f9f9;
}

footer {
	margin-top: 50px;
	background-color: #1e1e1e;
	padding: 25px 0;
}

@media only screen and (max-width: 1175px) {
	.content h1 {
		font-size: 4em;
	}
}

@media only screen and (max-width: 895px) {

	.content h1 {
		font-size: 3em;
	}

	header ul {
		float: none;
		display: block;
	}

	.wrapper {
		width: 80%;
	}
}

@media only screen and (max-width: 745px) {
	.wrapper {
		width: 100%;
	}
	.images {
		float: none;
		width: 100%;
	}
	.menu {
		float: none;
		margin: 0;
		display: block;
		width: 100%;
	}
	.price {
		margin: 0;
	}
}

@media only screen and (max-width: 375px) {
	header ul li {
		text-align: center;
		display: block;
	}
	.default {
		width: 100%;
	}
	.menu {
		padding-left: 10px;
	}
	.content a {
		display: none;
	}
	.content h1 {
		margin: 0;
	}
}
